/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.row {
  margin-top: 20px;
}

.radio {
  display: inline-block;
  margin: 5px;
}

.bg-info {
  padding: 10px;
  margin-top: 5px;
  font-size: 12pt;
  color: #0b97c4;
}

.my-header {
  margin: 10px;
  font-size: 14pt;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 14pt;
}

td>a, td>a:visited, .project, .project:visited {
  color: #0b97c4;
}

td>a:hover, .project:hover {
  color: #5bc0de;
}

.united {
  display: inline-flex;
  width: 100%;
}

.left {
  display: block;
  width: 38%;
  margin-right: 50px;
}

.right {
  display: block;
  width: 63%;
}

.well {
  background-color: transparent;
  border: none;
}

.navbar {
  background-color: transparent;
  border: none;
  margin: 5px;
}