<p class="bg-info">Project Page</p>
<div class="row">
    <div class="pull-left">
        <div ng-include="template"></div>
    </div>
    <div class="pull-right">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues">
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.DueDate}}</td>
                <td>{{issue.Author.Username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>