<div>Project key: {{projectInfo.ProjectKey}}</div>
<div><strong>Name: </strong> {{projectInfo.Name}}</div>
<div><strong>Description: </strong>{{projectInfo.Description}}</div>

<div><strong>LeadId: </strong>(current id: {{projectInfo.Lead.Id}}) {{projectInfo.Lead.Username}}</div>

<div>Labels: </div>
<ul>
    <div ng-repeat="label in projectInfo.Labels">
        <li>{{label.Name}}</li>
    </div>
</ul>

<div>Priorities: </div>
<ul>
    <div ng-repeat="priority in projectInfo.Priorities">
        <li>{{priority.Name}}</li>
    </div>
</ul>