<div>Project key: {{projectInfo.ProjectKey}}</div>
<div><strong>Name: </strong> {{projectInfo.Name}}</div>
<div><strong>Description: </strong>{{projectInfo.Description}}</div>

<div><strong>LeadId: </strong>(current id: {{projectInfo.Lead.Id}}) {{projectInfo.Lead.Username}}</div>

<div>Labels: </div>
<div ng-repeat="label in projectInfo.Labels">
    <div>{{label.Name}}</div>
</div>

<div>Priorities: </div>
<div ng-repeat="priority in projectInfo.Priorities">
    <div>{{priority.Name}}</div>
</div>