<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <form class="form-horizontal" name="changePasswordForm">
            <fieldset>
                <legend>Change password</legend>
                <div class="form-group">
                    <label for="oldPass" class="col-lg-2 control-label">Old password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" ng-model="changePass.oldPassword" id="oldPass" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPass" class="col-lg-2 control-label">New password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" minlength="6" maxlength="100"
                               ng-model="changePass.newPassword" id="newPass" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPass" class="col-lg-2 control-label">Confirm password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" ng-model="changePass.confirmPassword"
                               id="confirmPass" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="changePasswordForm.$invalid || changePass.newPassword != changePass.confirmPassword"
                                ng-click="changePassword(changePass)">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>