<button ng-click="projectById()">Show project info</button>
<div>Project key: {{projectInfo.ProjectKey}}</div>
<div>Name: {{projectInfo.Name}}</div>
<div>Description: {{projectInfo.Description}}</div>

<div>LeadId: (current id: {{projectInfo.Lead.Id}}) {{projectInfo.Lead.Username}}</div>

<div>Labels: </div>
<div ng-repeat="label in projectInfo.Labels">
    <div>{{label.Name}}</div>
</div>

<div>Priorities: </div>
<div ng-repeat="priority in projectInfo.Priorities">
    <div>{{priority.Name}}</div>
</div>